html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

.page {
    width: 100%;
    height: 100%;
}

.cover-page {
    position: relative;
    overflow: hidden;
}

.cover-bg {
    display: block;
    max-width: 1600px;
    height: 100%;
    margin: auto;
}

.cover-logo {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 70%;
    max-width: 600px;
}

.cover-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.about-page {
    display: flex;
}

.page-inner-center {
    box-sizing: border-box;
    max-width: 700px;
    padding: 60px;
    margin: auto;
    color: rgba(0,0,0,0.7);
    text-align: center;
}

.content-heading {
    text-transform: uppercase;
}

.about-content {
    line-height: 1.8;
}

.about-footer-caption {
    text-transform: uppercase;
}

.about-footer-tile {
    margin: 50px auto;
}

.mag-tile {
    width: 200px;
}

.instagram-logo {
    width: 50px;
    height: 50px;
}
