@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    margin: 0;
    font-family: 'Rotobo', sans-serif;
}

@media(max-height: 500px), (max-width: 400px) {
    body {
        font-size: 11px;
    }
}

.screen {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50%;
}

.screen-title {
    margin: auto;
    text-align: center;
    font-size: 6em;
    font-weight: 500;
}

.bg--light {
    background-color: #fff;
}

.bg--dark {
    background-color: rgba(0, 0, 0, 0.85);
}

.text--light {
    color: #fff;
}

.text--dark {
    color: rgba(0, 0, 0, 0.85);
}
