@import url('https://fonts.googleapis.com/css?family=Roboto');

body { margin: 0; font-family: 'Roboto', sans-serif; }
p { margin: 0; }

/*.page-wrapper { padding: 10px 20px; }*/

header { height: 100px; line-height: 100px; padding: 20px 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset; }
header .company-name { float: left; height: 100%; margin: 0 0 0 50px; }
header .logo { float: left; height: 100px; width: 100px; }

.info-boxes.center { width: 800px; margin: 0 auto; }
.info-boxes .info-box { color: rgb(32, 32, 32); margin: 0; padding: 10px 80px; }
.info-boxes .info-box-header { font-size: 25px; text-transform: uppercase; }
.info-box-content { font-size: 18px; padding: 0; line-height: 30px; }
.info-boxes .info-box .heading { display: inline-block; padding-bottom: 12px; border-bottom: 3px;
    border-bottom-style: solid; border-bottom-color: #2196f3; }

.info-nav .nav-arrow-left, .info-nav .nav-arrow-right { padding: 16px; transition: opacity 300ms; cursor: pointer; background: none;
    border: none; opacity: 0.5; }
.info-nav .nav-arrow-left:hover, .info-nav .nav-arrow-right:hover { opacity: 1; }
.info-nav .nav-arrow-left.hide, .info-nav .nav-arrow-right.hide { display: none; }
.info-nav .nav-arrow-left { float: left; }
.info-nav .nav-arrow-right { float: right; }

ul.info-box-content li { padding: 5px 0; }

.columns:after { content: ''; display: block; clear: both; }
.left-column { float: left; width: 50%; }
.right-column { float: right; width: 50%; }

.info-nav { height: 80px; line-height: 80px; box-shadow: rgba(0, 0, 0, 0.1) 3px 2px 0px 0px; }

.tab { height: 100%; cursor: pointer; color: #6d6868; transition: color 200ms, letter-spacing 400ms; text-decoration: none;
    overflow: hidden; }
.hoz-spread .tab { float:left; width: 25%; text-align: center; }
.tab:hover, .tab.active { color: #000; letter-spacing: 1px; }
.tab.active { border-bottom: 3px solid #2196f3; }

.contact { width: 400px; border-radius: 10px; background: #fff; }
.contact .info-box, .contact .info-submit { width: 200px; padding: 10px 5px; box-sizing: border-box; }
.contact .info-box.inline { display: inline-block; }

.contact .info-box.right { float:right; }
.contact .info-box.right:after { content: ''; display: block; clear: none; }
.contact .info-box.middle { margin: auto; }
.contact .info-box.fill-width { width: 100%; }

.contact .info-box .one-line { height: 40px; }
.contact .info-box .few-lines { height: 100px; }
.contact .info-box input { padding: 5px 10px; }
.contact .info-box textarea { resize: vertical; padding: 10px 10px; }

.contact .info-box input, .contact .info-box textarea { width: 100%; font-size: 16px;
    border: 1px solid #6d6868; border-radius: 4px; outline: none; }
.contact .info-box input:focus, .contact .info-box textarea:focus { border-color: #2196f3; }
.contact .info-box label { display: block; padding: 0 0 3px 0; }

.contact .submit { width: 150px; padding: 15px 0; text-align: center; font-size: 20px; color: #fff; text-transform: uppercase; border-radius: 10px;
    border: none; background: #2196f3; cursor: pointer; transition: opacity 200ms, letter-spacing 400ms; }
.contact .submit:hover { letter-spacing: 1px; }

.invalid input, .invalid textarea { border-color: red; }
.invalid input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
    color: red;
}

.two-column .column-1 { float: left; max-width: 50%; }
.two-column .column-2 { float: right; max-width: 50%; }
.two-column:after { content: ''; display: block; clear: both; }
.hoz-divider-pad { margin: 30px 80px 50px 80px; }
.hoz-divider-no-base-pad { margin: 30px 80px 0 80px; }
.section-center { width: 900px; margin: auto; }
.l-r-padding { box-sizing: border-box; padding: 0 50px; } /* bad sideeffect? */

footer { position: relative; height: 80px; line-height: 80px;  }
footer .links-wrapper { text-align: center; }
footer .links-wrapper a { font-size: 20px; padding: 0 20px; }

/* queries should probably not be globally configured */
@media(min-width: 970px) {
    .info-nav .nav-arrow-left, .info-nav .nav-arrow-right { display: none; }
}
@media(max-width: 970px) {
    .info-nav .tab { display: none; }
    .info-nav .nav-arrow-left, .info-nav .nav-arrow-right { display: inline-block; }
    .info-boxes .info-box { padding: 10px 120px; }
    .section-center { width: 800px; }
}
@media(max-width: 840px) {
    .section-center { width: auto; }
    .two-column .column-1, .two-column .column-2 { float: none; max-width: 75%; margin: auto; }
    .two-column .column-2 { padding-top: 40px; }
    header { height: auto; line-height: 50px; padding-bottom: 50px; }
    header .company-name { float: none; height: auto; text-align: center; margin: auto; }
    header .logo { float: none; margin: auto; }
    footer .links-wrapper a { display: block; }
    .contact { width: 500px; }
}
@media(max-width: 600px) {
    .info-nav .nav-arrow-left, .info-nav .nav-arrow-right { display: inline-block; }
    .info-boxes .info-box { text-align: center; padding: 5px 5px;  }
    .info-boxes .info-box .heading { width: 100%; border: none; margin: 0; }
}